spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost

  url-shortener:
    hash:
      number-of-generations: 100
      batch:
       size: 20

app:
  async-config:
    core-pool-size: 10
    max-pool-size: 20
    queue-capacity: 1000

server:
  port: 8080

logging:
  level:
    root: info