spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost

server:
  port: 8088

logging:
  level:
    root: info

hash:
  threadPool:
    initialPoolSize: 5
    maxPoolSize: 20
  queue:
    capacity: 200
  batch:
    save: 10_000
    get: 10_000
  cache:
    capacity: 1000
    fillPercent: 0.2
  cleaner:
    cron: "0 0 0 * * *" #One time a day at midnight

url:
  timeLimit:
    year: 1