spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

logging:
  level:
    root: info

executor:
  hash-generator:
    core-size: 10
    max-size: 20
    queue-capacity: 100
    prefix: HashGenerator

  hash-cache:
    core-size: 10
    max-size: 15
    queue-capacity: 100
    prefix: HashCache

hash:
  cache:
    capacity: 10000
    fill-percentage: 20