spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

logging:
  level:
    root: info

generator:
  hashes:
    amount: 10_000

local–°ache:
  fill:
    batch:
      size: 10_000

hash:
  clean:
    scheduler:
      cron: "0 0 0/24 * * *"

executor:
  threads:
    count: 10

cache:
  capacity: 3_000
  fill:
    percent: 20
  batch:
    sublist:
      length: 1_000
  nonWorkingUrlTime: 1 # years

uniqueNumbers:
  amount: 10_000