spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
hash:
  batch-size: 4
  sequence-amount: 8
  thread:
    fixed:
      pool-size: 3
    task:
      pool-size: 3
      max-pool-size: 3
      capacity: 100
      prefix: queueTaskExecutor-
  queue:
    size: 15
    percentage-multiplier: 0.2
base62:
  alphabet: "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
  length: 62

url:
  original-path: http://localhost:8080/api/v1/url/
  scheduler:
    cron: "0 0 0 * * ?"
    expired-interval: '1 YEAR'
server:
  port: 8085

logging:
  level:
    root: info
