spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  async:
    hashGenerator:
      corePoolSize: 2
      maxPoolSize: 2
      queueCapacity: 100
      keepAliveTime: 60
      threadNamePrefix: HashGenerator-

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

logging:
  level:
    root: info

application:
  hashGenerator:
    batchSize: 100
  hashCache:
    capacity: 1000
    fillFactor: 20
  schedule:
    cleaner: 0 0 * * *
    period: 1:0:0:0:0