spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres?reWriteBatchedInserts=true
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      caches:
        url-cache: url-cache
      port: 6379
      host: localhost

api:
  validation:
    url-regex: ^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w\.-]*)*\/?$

hash:
  batch-size: 100
  count-of-numbers-from-the-sequence: 16
  generated-batch-size: 200

server:
  port: 8080

logging:
  level:
    root: info
    org:
      hibernate:
        type: trace

thread-pool:
  size: 10
  max-size: 20
  timeout: 120


