spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres?reWriteBatchedInserts=true
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

logging:
  level:
    root: info

hash:
  batch-size: 100
  count-to-returning: 5
  generated-batch-size: 10
  cached-count: 10

thread-pool:
  size: 10
  max-size: 20
  timeout: 120
