spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true
        jdbc.batch_size: 30

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

logging:
  level:
    root: info

hash_generator:
  batch_size: 100

thread_pool:
  core_pool_size: 5
  max_pool_size: 10
  queue_capacity: 25

cache:
  size: 1000
  fill_percent: 20.0
