spring:
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 1000
          order_inserts: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

cache:
  min_percent_hashes: 20
  capacity: 10000

scheduler:
  cron: '0 0 0 * * *'
  lifetime_days: 365

generator:
  batch:
    size: 100000
  async:
    poolSize: 1
    maxPoolSize: 1

server:
  url: 'http://localhost:8080'
  port: 8080

logging:
  level:
    root: info