spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: localhost
      port: 6379
      ttl: 24

  validation:
    regex:
      url: "^https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}\\b([-a-zA-Z0-9()@:%_\\+.~#?&//=]*)$"

  async-config:
    core-pool-size: 4
    max-pool-size: 10
    queue-capacity: 50
    thread-name-prefix: Async-Executor-

  hash:
    encoder:
      character-base-62: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
      hash-size: 6
    generator:
      amount-hash: 100
    cache:
      max-queue-size: 100
      refill-percent: 30
      amount-hash: 50

    scheduler:
      cleaner:
        cron: "0 0 1 * * ?"
        batch-size: 100
        life-time-days: 100

server:
  port: 8080

logging:
  level:
    root: info