spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 1000
  cache:
    type: redis
    redis:
      time-to-live: 604800000

  data:
    redis:
      port: 6379
      host: localhost

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 9081

logging:
  level:
    root: info

hash:
  range: 1000
  cache:
    capacity: 1000
    filled-percentage: 20

url:
  cleaner:
    cron: '0 0 0 * * *'