spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: localhost
      port: 6379

  cache:
    redis:
      time-to-live: 6000
      cache-null-values: false
      use-key-prefix: true
    type: redis

server:
  port: 8080

logging:
  level:
    root: info

local:
  cache:
    capacity: 100
    capacity-usage: 20

hash:
  constants:
    batch:
      size: 1000

url:
  constants:
    days-to-remove: 365
  schedule:
    cron: "0 0 * * * ?" # every day

task-executor:
  core-pool-size: 20
  max-pool-size: 50
  queue-capacity: 1000
  thread-name-prefix: taskExecutor-

retryable:
  max-attempts: 5
  delay: 5000