spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      time: 1
      time-unit: DAYS

server:
  port: 8080

logging:
  level:
    root: info

hashCache:
  maxSize: 500
  lowThreshold: 0.2

hashRepository:
  batchSize: 50

hashGenerator:
  batchSize: 1000

asyncConfig:
  corePoolSize: 5
  maxPoolSize: 10
  queueCapacity: 100

app:
  short-url:
    host: https://localhost:8080/url/