spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      time-to-live: 600
  cache:
    type: redis


generator:
  hash:
    count: 100
    cache:
      capacity: 100
      minPercent: 20


schedule:
  url_cleaner_interval: "0 0 0 * * *"

server:
  port: 8080

logging:
  level:
    root: info