spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password
  redis:
    host: localhost
    port: 6379
    ttl: 24 #time-to-live in hours

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: false
        order_inserts=true:
        jdbc:
          batch_size: 100000

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

logging:
  level:
    root: info

hash-generator:
  generate-amount: 100
  thread-pool:
    size: 5
    queue-capacity: 50

hash-cache:
  capacity: 100
  low-limit-percent: 20
  thread-pool:
    size: 5
    queue-capacity: 50

cleaner-scheduler:
  cron: 0 0 * * *
  interval: 1 year

url-shortener:
  url: https://shrtnr.com/