spring:
  data:
    redis:
      host: localhost
      port: 6379
      ttl: 24

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080
  hash:
    generate:
      batch:
        size: 100
    cache:
      initial:
        size: 16
  thread:
    pool:
      corePoolSize: 3
      maximumPoolSize: 10
      keepAliveTime: 60
      queueCapacity: 40
  domain: https://urlshortener.com

scheduler:
  cleaning:
    url:
      cron: 0 0 0 * * *
      expiration-interval: 1

logging:
  level:
    root: info
