spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8091

logging:
  level:
    root: info

executor:
  thread-pool:
    size: 1
  queue:
   capacity: 100

hash-cache:
  queue:
    size: 1000
    threshold: 20