name: CIForMedusaMaster

on:
  push:
    branches: [ "Medusa-master-stream7-Egor" ]
  pull_request:
    branches: [ "Medusa-master-stream7-Egor" ]

jobs:
  build_and_run_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Set up JDK 17
        uses: actions/setup-java@v4.5.0
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Build With Gradle
        run: ./gradlew build --no-daemon

      - name: Build and Run All Tests With Gradle
        run: ./gradlew test --no-daemon